*{
    text-align: center;
    font-family: 'Merriweather', serif !important;
}

.section{
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

h2{
    margin: 0 !important;
}

.notification{
    padding: 1.25rem 2.5rem 1.25rem 2.5rem !important;
}

.margin-top-cards{
    margin-top: 36px;
}

.arg{
    display: flex;
    align-items: center;
    justify-content: center;
}

.arg img{
    margin: 0 10px;
    height: 40px;
}

.titulos{
    margin-top: 36px;
}

.partidos{
    margin-top: 24px;
}

.cuadros{
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.363);
}

.description{
    margin-top: 40px;
    padding-left: 24px;
    padding-right: 24px;
}

.imagenes{
    height: 100%;
}


@media screen and (min-width: 200px){ 
    
    .arg img{
        height: 16px;
    }
}

@media screen and (min-width: 360px){ 
    
    .arg img{
        height: 36px;
    }
}

